/* define header properties, lock it to the top of the screen */
header.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: #f8f9fa;
    margin: 0;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* align items in the navigation section */
.main-nav {
    padding-left: 10px;
    align-items: flex-start;
}
.main-nav b {
    padding-right: 10px;
}
.main-nav a {
    padding-right: 5px;
}

/* align items in the logon section */
.user-info {
    display: flex;
    padding-right: 10px;
    font-size: 0.9rem;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}